<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>BOG-Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/logo1.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <div th:include="navbar"></div>

    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/home}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>BOG</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/home}" class="nav-item nav-link active ">Home</a>
                <a th:href="@{/about}" class="nav-item nav-link ">About</a>
                <a th:href="@{/services}" class="nav-item nav-link ">Services</a>
                <a th:href="@{/booking}" class="nav-item nav-link ">Booking</a>
                <a  th:href="@{/contact}" class="nav-item nav-link">Contact</a>


            </div>
            <a th:href="@{/suggest}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Find Your Car<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/carousel-bg-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex align-items-center">
                        <div class="container">
                            <div class="row align-items-center justify-content-center justify-content-lg-start">
                                <div class="col-10 col-lg-7 text-center text-lg-start">
                                    <h6 class="text-white text-uppercase mb-3 animated slideInDown">// Car Servicing //</h6>
                                    <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Qualified Car Repair Service Center</h1>
                                    <a th:href="@{/services}" class="btn btn-primary py-3 px-5 animated slideInDown">Go to services<i class="fa fa-arrow-right ms-3"></i></a>
                                </div>
                                <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                    <img class="img-fluid" src="img/carousel-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img/carousel-bg-2.jpg" alt="Image">
                    <div class="carousel-caption d-flex align-items-center">
                        <div class="container">
                            <div class="row align-items-center justify-content-center justify-content-lg-start">
                                <div class="col-10 col-lg-7 text-center text-lg-start">
                                    <h6 class="text-white text-uppercase mb-3 animated slideInDown">// Car Servicing //</h6>
                                    <h1 class="display-3 text-white mb-4 pb-3 animated slideInDown">Suggest A Car Based On your demands</h1>
                                    <a th:href="@{/suggest}" class="btn btn-primary py-3 px-5 animated slideInDown">Get Suggestion<i class="fa fa-arrow-right ms-3"></i></a>
                                </div>
                                <div class="col-lg-5 d-none d-lg-flex animated zoomIn">
                                    <img class="img-fluid" src="img/carousel-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-certificate fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Quality Servicing</h5>
                            <p>Precision and Excellence Under the Hood: Unmatched Quality Servicing Tailored for Your Car's Peak Performance</p>
                            <a class="text-secondary border-bottom" th:href="@{/services}">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex bg-light py-5 px-4">
                        <i class="fa fa-users-cog fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Expert Workers</h5>
                            <p>Crafting Excellence Under the Hood: Our Team of Skilled Mechanics Ensures Your Car Receives Expert Attention and Care</p>
                            <a class="text-secondary border-bottom" th:href="@{/services}">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-tools fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Modern Equipment</h5>
                            <p>Driving Innovation: Elevating Your Car Service Experience with Cutting-Edge, Modern Equipment for Unparalleled Precision and Efficiency</p>
                            <a class="text-secondary border-bottom" th:href="@{/services}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/about.jpg" style="object-fit: cover;" alt="">
                        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
                            <h1 class="display-4 text-white mb-0">20 <span class="fs-4">Years</span></h1>
                            <h4 class="text-white">Experience</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary text-uppercase">// About Us //</h6>
                    <h1 class="mb-4"><span class="text-primary">BOG</span> Is The Best Place For Your Auto Care</h1>
                    <p class="mb-4">At BOG, we specialize in diagnostic tests, engine servicing, tire replacements, and oil changes. Additionally, we provide personalized recommendations, guiding you to the perfect vehicle based on your desired features. Trust us for efficient, top-notch automotive care that keeps you on the road with confidence</p>
                    <div class="row g-4 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Professional & Expert</h6>
                                    <span>At BOG, professionalism and expertise define our automotive services. With a dedicated team of professionals, we deliver precision in every diagnostic test, engine servicing, tire replacement, and oil change. Trust us for a professional touch that ensures your vehicle receives expert care and attention, keeping you on the road with confidence</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Quality Servicing Center</h6>
                                    <span>Discover quality care at BOG, your go-to servicing center. From diagnostics to engine care, tires, and oil changes, trust us for expert attention to keep your vehicle in top shape. Experience the road with confidence through our commitment to quality service</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Awards Winning Workers</h6>
                                    <span>Our skilled workers have earned recognition for their exceptional expertise and dedication. Trust your vehicle with our award-winners for top-notch service and a driving experience that stands out</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Fact Start -->
    <div class="container-fluid fact bg-dark my-5 py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">20</h2>
                    <p class="text-white mb-0">Years Experience</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">13</h2>
                    <p class="text-white mb-0">Expert Technicians</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1500</h2>
                    <p class="text-white mb-0">Satisfied Clients</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-car fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">3200</h2>
                    <p class="text-white mb-0">Completed Projects</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->


    <!-- Service Start -->
    <div class="container-xxl service py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase">// Our Services //</h6>
                <h1 class="mb-5">Explore Our Services</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav w-100 nav-pills me-4">
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <i class="fa fa-car-side fa-2x me-3"></i>
                            <h4 class="m-0">Diagnostic Test</h4>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <i class="fa fa-car fa-2x me-3"></i>
                            <h4 class="m-0">Engine Servicing</h4>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <i class="fa fa-cog fa-2x me-3"></i>
                            <h4 class="m-0">Tires Replacement</h4>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <i class="fa fa-oil-can fa-2x me-3"></i>
                            <h4 class="m-0">Oil Changing</h4>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/service-1.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3">20 Years Of Experience In Diagnostic testing</h3>
                                    <p class="mb-4">Unlock the full potential of your vehicle with our advanced diagnostic testing service. At BOG, our skilled technicians utilize cutting-edge technology to identify and address issues quickly and accurately. Trust us for thorough diagnostics, ensuring your vehicle operates at its best. Drive with confidence, backed by our expertise in automotive diagnostics</p>
                                    <p><i class="fa fa-wrench text-success me-3"></i>Comprehensive Engine Health Analysis</p>
                                    <p><i class="fa fa-car text-success me-3"></i>Tailored Solutions for Peak Performance</p>
                                    <p><i class="fa fa-cogs text-success me-3"></i>State-of-the-Art Diagnostic Equipment</p>
                                    <a th:href="@{/about}" class="btn btn-primary py-3 px-5 mt-3">Read More<i class="fa fa-arrow-right ms-3"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/service-2.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3">20 Years Of Experience In Engine servicing</h3>
                                    <p class="mb-4">Experience peak performance with our comprehensive engine servicing. Our skilled technicians at BOG provide meticulous care to ensure your engine runs smoothly and efficiently. Trust us for expert diagnostics, maintenance, and repairs, keeping your vehicle in top condition for the road ahead</p>
                                    <p><i class="fa fa-wrench text-success me-3"></i>Comprehensive Engine Health Analysis</p>
                                    <p><i class="fa fa-car text-success me-3"></i>Tailored Solutions for Peak Performance</p>
                                    <p><i class="fa fa-cogs text-success me-3"></i>State-of-the-Art Diagnostic Equipment</p>
                                    <a th:href="@{/about}" class="btn btn-primary py-3 px-5 mt-3">Read More<i class="fa fa-arrow-right ms-3"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/service-3.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3">20 Years Of Experience In Tires replacements </h3>
                                    <p class="mb-4">Drive with confidence – our tire replacement service ensures your vehicle stays safe and performs at its best. Count on our skilled technicians for swift and reliable tire replacements, putting you back on the road with peace of mind. Trust BOG for expert care that keeps your journey smooth and secure</p>
                                    <p><i class="fa fa-wrench text-success me-3"></i>Efficient Tire Replacements</p>
                                    <p><i class="fa fa-car text-success me-3"></i>Expert Workers for Precise Installation</p>
                                    <p><i class="fa fa-cogs text-success me-3"></i>Modern Equipment for Reliable Performance</p>
                                    <a th:href="@{/about}" class="btn btn-primary py-3 px-5 mt-3">Read More<i class="fa fa-arrow-right ms-3"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/service-4.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3">20 Years Of Experience In Oil Changing</h3>
                                    <p class="mb-4">Keep your engine running smoothly with our expert oil changing service. Trust our skilled technicians to provide a quick and efficient oil change, ensuring optimal performance and longevity for your vehicle. Experience the difference with our quality care at BOG</p>
                                    <p><i class="fa fa-wrench text-success me-3"></i>Precision Oil Changing Services</p>
                                    <p><i class="fa fa-car text-success me-3"></i>Skilled Workers for Expert Maintenance</p>
                                    <p><i class="fa fa-cogs text-success me-3"></i>Utilizing Modern Equipment for Superior Performance</p>
                                    <a th:href="@{/about}" class="btn btn-primary py-3 px-5 mt-3">Read More<i class="fa fa-arrow-right ms-3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->




    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="text-primary text-uppercase">// Testimonial //</h6>
                <h1 class="mb-5">Our Clients Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/baraa.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Baraa Etawi</h5>
                    <p>AI-Developer</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Impressive service from BOG! The diagnostic testing was quick and accurate, and the expert workers provided quality servicing beyond my expectations. Modern equipment and a skilled team – I'm a satisfied customer</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/kelani.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Mohammed Kelani</h5>
                    <p>shoes seller</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">BOG delivers exceptional automotive care! The expert workers demonstrated precision in their servicing, ensuring my vehicle's peak performance. Their modern equipment and dedication to quality make them my trusted choice</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/mamdouh.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Mamdouh Juma</h5>
                    <p>Race driver</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">BOG exceeded my expectations! The diagnostic testing was thorough, and the expert workers provided top-notch servicing. The use of modern equipment showcased their commitment to excellence. Highly recommended!</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/najeeb.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Najeeb Alsayed</h5>
                    <p>Industrial Engineer</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">BOG's automotive expertise shines through! Their diagnostic testing was prompt, and the expert workers provided quality servicing with attention to detail. The use of modern equipment sets them apart. Trustworthy and reliable!</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/anabtawi.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Mohammed Anabtawe</h5>
                    <p>Dealer</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">BOG is my go-to for automotive care! The diagnostic testing was efficient, and the expert workers delivered quality servicing. The modern equipment used demonstrated their commitment to providing the best for their customers. Impressed and satisfied!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->




    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <div th:include="footer"></div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>